<div class="profile-authors heading_space">
  <h4 class="text-capitalize darkcolor bottom40">Comments</h4>
  <div class="eny_profile bottom30" *ngFor="let item of list"  >
     <div class="profile_text">
        <h6 class="darkcolor"><a href="javascript:void(0)">{{item['user'] ? item['user']['name'] : 'Anonymous'}}</a></h6>
        <p class="top10">{{item['comment']}}</p>
     </div>
  </div>
  <div class="eny_profile" *ngIf="list.length == 0">
     <div class="profile_text">
        <h6 class="darkcolor"><a href="javascript:void(0)">No Comments</a></h6>
        <p class="top10">Be the first to add comment </p>
     </div>
  </div>
</div>
