<!-- header -->
<app-top-header></app-top-header>

<!-- header -->


<!--page Header-->
<section class="page-header parallaxie padding_top center-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-titles text-center">
          <h2 class="whitecolor font-light bottom30">Login</h2>
          <ul class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--page Header ends-->


<!-- Login Register -->
<section id="our-blog" class="padding text-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="bglight logincontainer">
          <h3 class="darkcolor bottom35">Login</h3>
          <form [formGroup]="aForm" class="getin_form border-form" id="login" (ngSubmit)="formSubmit()">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group bottom35">
                  <input class="form-control" formControlName="email" type="email" placeholder="Email:" required>
                  <div class="mt-2" *ngIf="aForm.controls['email'].invalid">Must be an Email Format</div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group bottom35">
                  <input class="form-control" formControlName="password" type="password" placeholder="Password:"
                    required>
                  <div class="mt-2" *ngIf="aForm.controls['password'].invalid">Must be Min 8 Characters</div>
                </div>
              </div>

              <div class="col-sm-12">
                <button type="submit" class="button btnprimary">Login</button>
              </div>

              <div class="mt-2" *ngIf="aForm.invalid && aForm.dirty && !submit">Values must be correct</div>

              <div class="mt-2" *ngIf="aForm.invalid && aForm.dirty && submit">Invalid Credentials</div>
            </div>
          </form>

          <p class="top20 log-meta"> Don't have an account? <a href="/pages/signup">Sign Up Now</a> </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Ends-->
